<!-- <H1>hola que tal</H1>

<div class="sectionContainer">
    <h1 class="titulo">
        Hola Este es el titulo
    </h1>
    
    <div>
        <div class="foto1"> 
            img1
        </div>


        <div class="foto2">
            img2    
        </div>


        <div class="foto3">
            img3
        </div>

    </div>
    

    
</div> -->
{%if section.settings.title == blank %}
    <h1>No has puesto ningun titulo aun</h1>
{% elsif section.settings.title != blank %}
    <h1>{{section.settings.title}}</h1>
{% endif %}


<!-- Bloques -->
{%- for block in section.blocks -%}
{% case block.type %}
    {%- when 'heading' -%}
        <h2 class="image-with-text__heading h1">
            {{ block.settings.texto_bloque_id | escape }}
        </h2>
{%- endcase -%}
{%- endfor -%}





{% schema %}
{
    "name": "Mostrador",
    "tag": "section",
    "class": "mostrador",
    "settings": 
    [
        {
            "type": "image_picker",
            "id": "img1",
            "label": "Primera Foto"
        },
        {
            "type": "image_picker",
            "id": "img2",
            "label": "Segunda Foto"
        },
        {
            "type": "image_picker",
            "id": "img3",
            "label": "Tercera Foto"
        }
    ],
    "blocks":
    [
        {
            "name": "Título",
            "type": "text",
            "settings":[
            {  
                "type": "text",
                "id": "titulo",
                "label": "Título de la sección"
            }]
        },
        {
            "name": "Imagen 1",
            "type": "image_picker",
            "settings":[{
                    
                "type": "image_picker",
                "id": "img1",
                "label": "Imagen 1"
                
            }]
        },
        {
            "name": "Imagen 2",
            "type": "image_picker",
            "settings":[{
                    
                "type": "image_picker",
                "id": "img2",
                "label": "Imagen 2"
            }]
        },
        {
            "name": "Imagen 3",
            "type": "image_picker",
            "settings":[{
                    
                "type": "image_picker",
                "id": "img3",
                "label": "Imagen 3"
            }]
            
        }
    ],
    "presets": 
    [
        {
            "name": "Mostrador",
            "category":"Subcategoria Seccion",
            "blocks": 
            [
                {
                "type": "heading"
                },
                {
                "type": "image_picker"
                },
                {
                "type": "image_picker"
                },
                {
                "type": "image_picker"
                }
            ]
        }
    ]
}    

{% endschema %}