{%if section.settings.title == blank %}
    <h1>No has puesto ningun titulo aun</h1>
{% elsif section.settings.title != blank %}
    <h1>{{section.settings.title}}</h1>
{% endif %}

{% schema %}
{
	"name": "Titulo interno seccion",
	"tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Titulo"
        },
        {
            "type": "text",
            "id": "title2",
            "label": "Texto2",
            "default": "Texto por defecto"
        }
    ],
    "blocks": [
    {
        "type": "summary",
        "name": "Resumen custom",
        "limit": 1
    },
    {
        "type": "link",
        "name": "Enlace custom",
        "limit": 1
    }
    ],
    "presets": [
        {
            "name": "Titulo Agregar Seccion",
            "category": "Subcategoria Seccion",
            "blocks": [
                {
                    "type": "summary"
                },
                {
                    "type": "link"
                }
            ]
        }
    ]      
}
{% endschema %}