{%if section.settings.title == blank %}
    <h1>No has puesto ningun titulo </h1>
{% elsif section.settings.title != blank %}
    <h1>section.settings.title</h1>
{% endif %}


{% schema %}
{
	"name": "Titulo interno seccion",
	"tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Texto2"
    }
  ],
  "presets": [
    {
    "name": "Titulo externo otro",
    "category": "Subcategoria Seccion"
    }
  ]
}
{% endschema %}