<div class="sectionContainer">
    <div></div>
    <h1 class="titulo">
       {{section.settings.titulo}}
    </h1>
    
    <div class="iamgenesContainer">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'image_picker' -%}
                    <div class="foto1"> 
                        <img src="sfaf.jpg" alt="img1">
                    </div>
                {%- when 'image_picker2' -%}

                    <div class="foto2">
                        <img src="adfad.jpg" alt="img2">    
                    </div>
                {%- when 'image_picker3' -%}

                    <div class="foto3">
                        <img src="adadf.jpg" alt="img3">
                    </div>
                {%- endcase -%}
      {%- endfor -%}

    </div>
    

    
</div>





{% schema %}
{
    "name": "Mostrador",
    "tag": "section",
    "class": "mostrador",
    "settings": 
    [
        {  
            "type": "text",
            "id": "titulo",
            "label": "Título de la sección"
        }
        
    ],
    "blocks":
    [
        
        {
            "name": "Imagen 1",
            "type": "image_picker",
            "settings":[{
                    
                "type": "image_picker",
                "id": "img1",
                "label": "Imagen 1"
                
            }]
        },
        {
            "name": "Imagen 2",
            "type": "image_picker2",
            "settings":[{
                    
                "type": "image_picker",
                "id": "img2",
                "label": "Imagen 2"
            }]
        },
        {
            "name": "Imagen 3",
            "type": "image_picker3",
            "settings":[{
                    
                "type": "image_picker",
                "id": "img3",
                "label": "Imagen 3"
            }]
            
        }
        
    ],
    "presets": 
    [
        {
            "name": "Mostrador",
            "blocks": 
            [
                
                {
                    "type": "image_picker"
                }, 
                {
                    "type": "image_picker2"
                },
                {
                    "type": "image_picker3"
                }
            ]
            
        }
    ]
}    

{% endschema %}
