/*
Hoja de estilos en sucio para trabajar el CSS del tema
    *Se debe copilar y minificar
========================================================*/

/*Global
=======================================*/

// Añadir  funciones SCSS y variables
@import 'variables.scss';
@import 'funciones.scss';


html {
    box-sizing: border-box;
	margin: 0px;

	body {
		@include media-max(797px) {
			overflow: v(body-overflow);
			overflow-x: hidden;
			@include tap-highlight-none();
		}
	
		font-family: Poppins;
		font-size: 14px;
		margin: 0px;

		header,
		div,
		footer {
			box-sizing: border-box;
			margin: 0px;
		}

		a {
			text-decoration: none;
			color:black;
		}
	}
}



/*Header
=======================================*/

#container__header {
	display: flex;
    flex-direction: row;
	justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #1b1b1b1b;
	padding: 25px 10%;

	& > div,
	& > nav {
		width: max-content;
	}

	.logo__header {
		width: 200px;
		filter: invert(1);

		a {
			display: flex;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.nav__header {
		display: flex;
		justify-content: center;
		margin-left: auto;
		font-size: 1.2em;
		font-weight: 500;

		& > div {
			position:relative;
			padding: 10px 0px;
			
			&:not(:last-child) {
				margin-right: 25px;
			}
		ul {
			width: max-content;
			position: absolute;
			background-color: white;
			border: 1px solid black;
			padding: 0px;
			padding-bottom: 10px;
			margin:0px;
			opacity: 0;
			pointer-events: none;

			li {
				padding: 15px 20px 5px;
				list-style: none;
			}
		}

			& > ul {
				top: 100%;
				@extend ul;

				li {
					position: relative;

					& > ul {
						top: -1px;
    					left: 100%;
						@extend ul;
					}
	
					&:hover {
						& > ul {
							opacity: 1;
							pointer-events: all;
						}
					}
				}
			}

			&:hover {
				& > ul {
					opacity:1;
					pointer-events: all;
	
				}
			}
		}
	}


	.container_icon__header{
		display:flex;
		margin-left: 20px;

		div:not(:last-child) {
			margin-right: 20px,
		}

		.account__header {
			min-width: 50px;
			width: 50px;
			height: 50px;
			background-color: black;
			color:white;

			a {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color:inherit;

				&:after {
					content: "A";
				}
			}
		}

		.cart__header {
			@extend .account__header;

			a {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color:inherit;

				&:after {
					content: "C";
				}
			}
		}
}
	.search__header {
		min-width: 50px;
		width: 50px;
		height: 50px;
		background-color: black;
		color:white;
		margin-left: auto;

		display: flex;
		justify-content: center;
		align-items: center;

		&:after {
			content: "S";
		}

		form {
			display: none;
		}

		.search_close__header {
			display: none;
		}
	}

}

