/*
Hoja de estilos en sucio para trabajar el CSS del tema
    *Se debe copilar y minificar
========================================================*/

/*Global
=======================================*/

// Añadir  funciones SCSS y variables
@import 'variables.scss';
@import 'funciones.scss';


html {
    box-sizing: border-box;
	margin: 0px;

	body {
		@include media-max(797px) {
			overflow: v(body-overflow);
			overflow-x: hidden;
			@include tap-highlight-none();
		}
	
		font-family: Poppins;
		font-size: 14px;
		margin: 0px;

		header,
		div,
		footer {
			box-sizing: border-box;
			margin: 0px;
		}

		a {
			text-decoration: none;
			color:black;
		}
	}
}



/*Header
=======================================*/
#shopify-section-announcement-bar {
	display: flex;
	justify-content: center;
	color: white;
	background-color: black;
}

#shopify-section-header{
	
	#container__header {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		background-color: white;
		padding: 25px 10%;

		-webkit-box-shadow: 0 10px 35px -30px rgba(0,0,0,.75);
		-moz-box-shadow: 0 10px 35px -30px rgba(0,0,0,.75);
		box-shadow: 0 10px 35px -30px rgba(0,0,0,.75);
		transition: .2s ease-out;

		& > div,
		& > nav {
			width: max-content;
		}

		.logo__header {
			width: 130px;
			filter: invert(1);

			a {
				display: flex;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.nav__header {
			margin-left: auto;

			.button_movil_nav__header {
				display: none;
				flex-direction: column;
				justify-content: space-between;
				width: 30px;
				height: 30px;
				margin: 0px;
				padding: 0px;
				border: 0px;

				@include media-max(1024px) {
					display: flex;
				}

				div {
					width: 100%;
					height: 5px;
					background-color: black;
				}
			}

			nav {
				display: flex;
				justify-content: center;
				margin-left: auto;
				font-size: 1.3em;
				font-weight: 600;
				text-transform: capitalize;

				& > div {
					position:relative;
					padding: 10px 0px;
					
					&:not(:last-child) {
						margin-right: 25px;
					}

					ul {
						width: max-content;
						position: absolute;
						background-color: white;
						border: 1px solid black;
						padding: 0px;
						padding-bottom: 10px;
						margin:0px;
						opacity: 0;
						pointer-events: none;

						li {
							padding: 15px 20px 5px;
							list-style: none;
							font-size: 1rem;
							font-weight: 500;
						}
					}

					& > ul {
						top: 100%;
						@extend ul;

						li {
							position: relative;

							& > ul {
								top: -1px;
								left: 100%;
								@extend ul;
							}
			
							&:hover {
								& > ul {
									opacity: 1;
									pointer-events: all;
								}
							}
						}
					}

					&:hover {
						& > ul {
							opacity:1;
							pointer-events: all;
			
						}
					}
				}
			}
		}


		.container_icon__header{
			display:flex;
			margin-left: 20px;

			div:not(:last-child) {
				margin-right: 20px,
			}

			.account__header {
				min-width: 40px;
				width: 40px;
				height: 40px;
				background-color: black;
				color:white;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					color:inherit;

					&:after {
						content: "A";
					}
				}
			}

			.cart__header {
				@extend .account__header;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					color:inherit;

					&:after {
						content: "C";
					}
				}
			}
	}
		.search__header {
			min-width: 40px;
			width: 40px;
			height: 40px;
			background-color: black;
			color:white;
			margin-left: auto;
			cursor: pointer;

			display: flex;
			justify-content: center;
			align-items: center;

			&:after {
				content: "S";
			}


			form {
				display: none;
				align-items: center;
				position: absolute;
				height: 100%;
				background-color: white;
				width: 100%;
				top: 0px;
				left: 0px;
				justify-content: center;
				cursor: default;
				z-index: 998;

				div {
					width: 100%;
					padding: 0px 10%;
					display: flex;
					align-items: center;
				}

				input {
					width: 100%;
					height: 40px;
					padding: 10px 15px 10px 30px;
					border-radius: 0px;
					border: 0px;
					border-bottom: 1px solid #000;
					outline: none;

					&:focus {
						border-bottom: 2x solid blue !important;
					}

					&:focus-visible {
						border-bottom: 2x solid blue !important;
					}
				}

				label {
					display: none;
				}

				button {
					width: 20%;
					height: 40px;
					border-radius: 0px 5px 5px 0px;
					border: 1px solid black;
					border-left: 0px;
					display:none;
				}
			}

			.search_close__header {
				display: none;
				cursor:pointer;
				z-index: 999;
				background: black;
				border: 0px;
				width: 25px;
				height: 25px;
				position: absolute;
				right: calc(10% + 15px);
				top: 50%;
    			transform: translateY(-50%);
			}

			&.open {
				&:after {
					z-index: 999;
					left: calc(10% + 15px);
					color: black;
					position: absolute;
				}

				form {
					display: flex;
				}

				.search_close__header {
					display: block;
				}
			}
			

			
		}

	}

	&.sticky {
		#container__header {
			position: fixed;
			top:0px
		}
	}

}