.body {
    display:flex;
justify-content:center;}
.cartInterface__titles{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.cartInterface__container__child1{
    width:45%;
    display: flex;
    justify-content: space-between;
}
.cartInterface__container__child2{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.cartInterface__line-item{
    display: flex;
    justify-content: space-between;
}