.father{
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.container__Child1{
    width:45%;
    display: flex;
    justify-content: space-between;
}
.container__Child2 {
    width: 45%;
    display: flex;
    justify-content: space-between;
}