.sectionContainer{
   

   background-color: red;
    width: 100%;
    height:500px;
}
.titulo{
    display:flex;
    justify-content: center;
}
.imagenesContainer{
    display:flex;
    justify-content: center;
    align-items: center; 
    height:80%;

}
.foto1{
    

}
.foto2{
    
}
.foto3{
    
}
img { 
    width: 100%; 
    max-width: 368px; 
    height: 207,3px; 
  }