.sectionContainer{
    border: 20px solid red;

   background-color: red;
    


}
.titulo{
    display:flex;
    justify-content: center;
}
.imagenesContainer{

        
       
        
}
.foto1{

}
.foto2{

}
.foto3{

}