.sectionContainer{
    border: 20px solid red;

   background-color: red;
    width: 100%;
    height:500px;
}
.titulo{
    display:flex;
    justify-content: center;
}
.imagenesContainer{
    display:flex;
    justify-content: space-around;
    align-items: center; 
}
.foto1{
    width:33%;
    margin: 10px;

}
.foto2{
    width:33%;
}
.foto3{
    width: 33%;
}
img { 
    width: 100%; 
    max-width: 368px; 
    height: 207,3px; 
  }